<footer>
    <div class="footer-container">
      <div class="contact-container">
        <h4>კონტაქტი:</h4>
        <div>
          

          <img src="{{ url_for('static', filename='assets/phone-icon.svg') }}" alt="phone icon" />
          <a href="tel:+995322220009">(+995 32) 222 00 09</a>
        </div>
        <div>
          
          <img src="{{ url_for('static', filename='assets/web-icon.svg') }}" alt="web icon" />
          <a href="https://research.iliauni.edu.ge/ka"
            >research.iliauni.edu.ge</a
          >
        </div>
        <div>
          <img src="{{ url_for('static', filename='assets/email-symbol-icon.svg') }}"
          alt="email icon" />
          <a href="mailto:info@iliauni.edu.ge">info@iliauni.edu.ge</a>
        </div>
      </div>
      <div class="logo-container">
        <img
          class="unilab-logo"
          src="{{ url_for('static', filename='assets/unilab-logo.svg') }}"
          alt="unilab logo"
        />
        <img
          class="iliauni-logo"
          src="{{ url_for('static', filename='assets/iliauni-logo.svg') }}"

          alt="iliauni logo"
        />
      </div>
    </div>
  </footer>