{% extends "layout/base.html" %}

{% block navbar %}
  {% include 'layout/navbar.html' %}
{% endblock %}

{% from "pages/macros.html" import render_bibliography_card %}

{% block content %}
  <main class="bibliography-content">
    <div class="bibliography-box">
      <h3>ბიბლიოგრაფია</h3>
      <div class="cards">
        {% for item in bibliographies.items %}
          {{ render_bibliography_card(item) }}
        {% endfor %}
      </div>

<div class="page-container">
  <div class="pages">
    <!-- Left Arrow -->
    <a id="leftArrow" href="{{ url_for('pages.bibliography', page=bibliographies.prev_num) }}" {% if not bibliographies.has_prev %}class="disabled"{% endif %}>
      <img src="{{ url_for('static', filename='assets/slider-arrow.svg') }}" alt="left arrow">
    </a>

    <!-- Page Numbers -->
    <div class="numbers">
      {% if bibliographies.page > 3 %}
        <span>1</span>
        <span class="spot">...</span>
      {% endif %}

      {% for num in bibliographies.iter_pages(left_edge=1, left_current=2, right_current=2, right_edge=1) %}
        {% if num %}
          {% if num == bibliographies.page %}
            <span class="current">{{ num }}</span>
          {% else %}
            <span><a href="{{ url_for('pages.bibliography', page=num) }}">{{ num }}</a></span>
          {% endif %}
        {% else %}
          <span class="spot">...</span>
        {% endif %}
      {% endfor %}

      {% if bibliographies.page < bibliographies.pages - 2 %}
        <span class="spot">...</span>
        <span>{{ bibliographies.pages }}</span>
      {% endif %}
    </div>

    <!-- Right Arrow -->
    <a id="rightArrow" href="{{ url_for('pages.bibliography', page=bibliographies.next_num) }}" {% if not bibliographies.has_next %}class="disabled"{% endif %}>
      <img src="{{ url_for('static', filename='assets/slider-arrow.svg') }}" alt="right arrow">
    </a>
  </div>
</div>
    </div>
  </main>
{% endblock %}


{% block footer %}
  {% include 'layout/footer.html' %}
{% endblock %}
