{% extends "layout/base.html" %}

{% block navbar %}
  {% include 'layout/navbar.html' %}
{% endblock %}

{% block content %}
  <!-- Main Content -->
  <main class="bibliography-content">
    <div class="bibliography-box">
      <h3>ბიბლიოგრაფია</h3>
      <div class="cards">
        <!-- Card 1 -->
        <div class="card">
          <p>
            სათაური: 
            <a href="#">ლორემ იფსუმ დოლორ თართი მოვიდა</a>
          </p>
          <p>ავტორი: გიორგი გიორგაძე</p>
          <p>გამომცემლობა: ლორემ იფსუმ</p>
          <p>გამოცემის წელი: 1234</p>
          <p>გამოცემის ადგილი: ლორემ</p>
          <p>ენა: ლორემ</p>
          <p>აბრევიაცია: ლორემ იფსუმ დოლორ</p>
        </div>

        <!-- Card 2 -->
        <div class="card">
          <p>
            სათაური:
            <a href="#">ლორემ იფსუმ დოლორ თართი მოვიდა</a>
          </p>
          <p>ავტორი: გიორგი გიორგაძე</p>
          <p>გამომცემლობა: ლორემ იფსუმ</p>
          <p>გამოცემის წელი: 1234</p>
          <p>გამოცემის ადგილი: ლორემ</p>
          <p>ენა: ლორემ</p>
          <p>აბრევიაცია: ლორემ იფსუმ დოლორ</p>
        </div>

        <!-- Additional Cards (Similar to above, repeating the same structure for each item) -->

      </div>

      <!-- Pagination -->
      <div class="page-container">
        <div class="pages">
          <img
            id="leftArrow"
            src="{{ url_for('static', filename='assets/slider-arrow.svg') }}"
            alt="left arrow"
          />
          <div class="numbers">
            <span>1</span>
            <span class="spot">...</span>
            <span>26</span>
            <span class="current">24</span>
            <span>25</span>
            <span class="spot">...</span>
            <span>50</span>
          </div>
          <img
            id="rightArrow"
            src="{{ url_for('static', filename='assets/slider-arrow.svg') }}"
            alt="right arrow"
          />
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block footer %}
  {% include 'layout/footer.html' %}
{% endblock %}
