{% extends "layout/base.html" %}

{% block navbar %}
  {% include 'layout/navbar.html' %}
{% endblock %}

{% block content %}

<!-- Main Content -->
<main>
  <div class="place-info-wrapper">
    <h2 class="place-text">ადგილი / Place</h2>

    <section>
      <h3>დროის პერიოდი:</h3>
      <p>{{ location.period }}</p>
    </section>

    <section>
      <h3>აღწერა:</h3>
      <p>{{ location.description }}</p>
    </section>

    <!-- Map Section -->
 <section class="map-section">
      <div class="container">
        <div class="map-wrapper">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2392928.670457168!2d40.69792126544106!3d42.340912442428646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440cd7e64f626b%3A0x4f907964122d4ac2!2sGeorgia!5e0!3m2!1sen!2sge!4v1720877710043!5m2!1sen!2sge"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>

    <section>
      <h3>URL</h3>
      <div class="place-info-div">
        <img src="../assets/copy-icon.svg" alt="copy icon" />
        <p>{{ location.url }}</p>
      </div>
    </section>

    <section>
      <h3>ამ ადგილთან დაკავშირებული სახელები (ალტერნატიული სახელები)</h3>
      <ul>
        {% for name in location.alternative_names %}
          <li>{{ name }}</li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h3>ამ ადგილთან დაკავშირებული ადგილები</h3>
      <ul>
        {% for related_place in location.related_places %}
          <li>{{ related_place.name }} - {{ related_place.connection_type }}</li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h3>ბიბლიოგრაფიის აბრევიაცია</h3>
      <p>{{ location.bibliography }}</p>
    </section>

    <section>
      <h3>ბმული/ბმულები სხვა ბაზებზე</h3>
      <p class="link-text">ბაზის დასახელება: {{ location.database_name }}</p>
      <ul class="link-list">
        {% for link in location.external_links %}
          <li>ბმული <a href="{{ link }}" target="_blank">{{ link }}</a></li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h3>ბაზის ციტირების წესი</h3>
      <div class="place-info-div">
        <img src="../assets/copy-icon.svg" alt="copy icon" />
        <p>{{ location.citation }}</p>
      </div>
    </section>
  </div>
</main>

{% endblock %}

{% block footer %}
  {% include 'layout/footer.html' %}
{% endblock %}
